*{
    padding-inline: 0%;
    margin: 0%;
    padding: 0%;
    box-sizing: 0%;
}
.sky {
    border: px solid #0092a5;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 2%;
    padding-top: 0%;
    margin-bottom: 20px;
    color: rgb(230, 220, 220); 
    margin-top: 0%;
    
}

.uww{
    border: 1px ;
    color: rgb(243, 235, 235);
    float: left;
    margin-top: 0px;
   
    font-size: 10px;
}
.uwe{
    border: px ;
    display: flex;
    justify-content: center;
    

}

body{
    background:linear-gradient(45deg,#4b6164,#8c8f8a,#000000,#999b9c,#d4cece);
    background-size: 300%;
    animation: color 12s ease-in-out infinite;
    
    
    
}
@keyframes color {
    0%{
        background-position: 0 50%;
        }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

button{
    color: rgb(46, 186, 204);
    background-color: rgb(238, 228, 228);
    cursor: pointer;
    
    padding-bottom: 20px;
    padding-top:20px;
    border-radius: 7px;
    text-decoration-line: none;
    margin: 2%;
    font-size: 25px;
   
}
.uwe , button {
    font-size: 25px;
    display: flex;
    justify-content: right;
    align-items:center; 
    padding: 2px;
    
}
button:hover{
    box-shadow: 0 0 5px rgb(3, 211, 211), 0 0 10px rgb(3, 211, 211), 0 0 12px rgb(3, 211, 211)inset;
    transform: scale(1.1);
    
}

.skt{

    border-radius: 20px;
    
}

input {
    margin:0%;
    padding: 25px;
    border-radius: 7px;
}
input:hover:focus{
    box-shadow:0 0 5px rgb(3, 211, 211), 0 0 10px rgb(3, 211, 211), 0 0 12px rgb(3, 211, 211)inset; 
    outline: 4px solid rgb(121, 3, 3);
}
.sko ,.sku , .skr ,.ske{   
    margin: 2px;
    text-decoration: none;
    border: 0px ;
    padding: 6px;
    
    

    
}

.ski{
    font-size: 50px;
    opacity: 0.6;
    color:rgb(0, 0, 0);
    background-color: #a79f9f;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
    padding-bottom: 800px;
    border: 20px solid rgb(39, 41, 41);
    margin: 250px;
    margin-top: 1%;
    justify-content: center;
    box-shadow: 20px 20px 25px rgb(47, 49, 49) ;
  
    
}

.ski::before{
    content:'';
    position:absolute;
    width:150px;
    height:150px;
    border-radius: 50%;
    background: linear-gradient(black,rgb(240, 240, 243));
    animation:rotate 4s linear infinite;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 40px;
    
}
@keyframes 
    rotate {form{ transform:rotate(0deg)
    }
    to{
        transform:rotate(360deg)
    }
}

.ski_2{
    display: flex;
    margin: 20px;
    border: 0px solid green;
    justify-content: center;
    align-items: center;
  
}

ul {
    padding-left: 10%;
}




    



   


